<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="app" v-cloak>
			<tabs v-model="activeKey">
				<pane label="标签1" name="a">
					<iframe src="http://www.baidu.com" style="width: 100%;height: 1000px; border: 0px solid green;overflow: hidden;"></iframe>
				</pane>
				<pane label="标签2" name="d">
					asdasdfhhh555555555
				</pane>
				<pane label="标签3" name="sf">
					adfasdfasdf
				</pane>
			</tabs>
		</div>
		
		<script type="text/x-template" id="tabsTemplate">
			<div class="tabs">
				<div class="tabs-bar">
					<div :class="tabCls(item)" v-for="(item,index) in navList" @click="handleChange(index)">{{item.label}}</div>
				</div>
				<div class="tabs-content">
					<slot></slot>
				</div>
			</div>
		</script>
		
		<script type="text/x-template" id="paneTemplate">
			<div class="pane" v-show="show">
				<slot></slot>
			</div>
		</script>
		
		<script type="text/javascript" src="../../js/vue.js" ></script>
		<script type="text/javascript" src="pane.js" ></script>
		<script type="text/javascript" src="tabs.js" ></script>
		<script>
			var app = new Vue({
				el:"#app",
				data:{
					activeKey:"a",
				}
			})
		</script>
	</body>
</html>
